<div class="row">
    <div class="col-8">
        <p class="banner-text sm-auto">
            Hello! I'm Krishna Kant Tripathi.
        </p>
        <p class="banner-body">
            I am a Full stack Software Developer having expertise in Java, Python and Go lang with expertise in frameworks like SpringBoot, Flask, Django, Dropwizard, etc.
        </p>
        <a href=""><p class="banner-link">Link to my resume</p></a>
    </div>
    <div class="col-4">
        <img class="my-5 mr-10 h-auto max-w-xl ml-auto" style="border-radius: 0px 0px 300px 300px;" src="assets/images/IMG_0010.jpeg"/>
    </div>
</div>
